.btn-primary {
    background-color:cornflowerblue;
    color: black;
    border-color: black;
    margin-left: 2px;
    margin-right: 2px;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:coral;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
}

.name {
    margin-top: 8px;
    margin-bottom: 4px;
}

.display {

}

.value-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border: solid;
    border-radius: 2px;
    border-color: black;
    border-width: 1px;
    background-color: antiquewhite;
}

.value {
    margin-top: 3px;
}

.keyboard {
    margin-top: 20px;
}