<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1>Counter app</h1>
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h1 class="text">Counter</h1>
      </div>
      <div class="display">
        <div class="value-display">
          <div class="value">
            <h3>{{counter}}</h3>
          </div>
        </div>
      </div>
      <div class="keyboard">
        <button class="btn btn-primary" (click)="ctrDec()">-1</button>
        <button class="btn btn-primary" (click)="ctrReset()">Reset</button>
        <button class="btn btn-primary" (click)="ctrInc()">+1</button>
      </div>
    </div>
  </body>
</html>